/*STELLA*/


.top{
	background-image: url("images/main.jpg");
	height: 100vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/*JOSEPH*/
